html,
body {
    font-family: "DM Sans";
}

textarea:hover,
input:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn:focus,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

select {
    outline: 0px !important;
    box-shadow: none !important;
}


/* Side Dashboard */

.dashboard-height {
    height: 100vh;
}

.side-dashboard {
    height: 100%;
    background: #24366B;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.side-dashboard .navbar-brand {
    font-size: 15px;
    color: #FFFFFF;
    background: rgba(64, 91, 168, 0.49);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.side-dashboard .title {
    font-size: 17px;
    font-weight: 600;
    color: #C4C4C4;
    white-space: nowrap;
    padding-left: 60px;
}

.side-dashboard .nav-link {
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    white-space: nowrap;
    padding-left: 60px;
}

.side-dashboard li.nav-item:hover {
    width: 100%;
}

.side-dashboard .nav-link:hover {
    background: rgba(0, 102, 255, 0.42);
}


/* Range */

.range-slider {
    -webkit-appearance: none;
    width: 40px;
    height: 20px;
    border-radius: 25px;
    background: #C4C4C4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
    padding: 5px;
}

.range-slider:hover {
    opacity: 1;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FCFCFD;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FCFCFD;
    cursor: pointer;
}

.range-text {
    font-size: 14px;
    color: rgba(87, 88, 78, 0.87);
    font-weight: 500;
}

.gray-text {
    color: #C4C4C4;
}


/* Dashboard Body */

.purpleText {
    color: #24366B;
    font-weight: 500;
}

.dashboard-body-content {
    margin-left: 16.666667%;
}

.dashboard-time {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dashboard-body {
    background: #E5E5E5;
    height: calc(100% - 80px);
    padding-right: 150px !important;
}


/* Dashboard Account Content */

.account-content {
    border-bottom: 4px solid #4C94FF;
}

.account-details {
    border-bottom: 3px solid #C4C4C4;
}


/* Account Checkbox */

.account-checkbox {
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.account-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #C4C4C4;
    background-color: #eee;
    border-radius: 50%;
}

.account-checkbox:hover input~.checkmark {
    background-color: rgba(0, 0, 0, 0.25);
}

.account-checkbox input:checked~.checkmark {
    background: #4C94FF;
    border: 3px solid #4C94FF;
    box-sizing: border-box;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.account-checkbox .checkmark:after {
    display: block;
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid #C4C4C4;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.account-checkbox input:checked~.checkmark:after {
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
}

.account-checkbox .badge {
    background: rgba(64, 91, 168, 0.4);
    border-radius: 15px;
    font-size: 10px;
}

.disable {
    opacity: 0.6;
}

.account-paragraph {
    font-size: 14px;
    padding-left: 35px;
    color: rgba(87, 88, 78, 0.87);
    font-weight: 500;
}


/* DAshboard-setup */

.payment-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.disabled-btn {
    color: #FCFCFD;
    background: rgba(64, 91, 168, 0.35);
}


/* Selects */

.bunce-select {
    background: url("/icon/down-pointer.svg") no-repeat right .75rem center;
}

@media screen and (max-width: 768px) {
    .dashboard-body {
        padding-right: 16px !important;
    }
    .dashboard-body-content {
        margin-left: auto;
    }
    .side-dashboard,
    .dashboard-time {
        position: static;
    }
}


}